#login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  mat-card {
    min-height: 33%;
    min-width: 33%;
    margin: 2em;
  }
}

.login-inputs {
  display: flex;
  flex-direction: column;
}

.login-buttons {
  display: flex;
  margin-top: 1.5em;
  justify-content: space-evenly;
}
