<div id="login-container">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="employeeForm">
        <div class="login-inputs">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input
              matInput
              placeholder="email"
              formControlName="email"
              required
            />
            <mat-error *ngIf="employeeForm.controls['email'].hasError('email')"
              >Must be a valid email</mat-error
            >
            <mat-error
              *ngIf="employeeForm.controls['email'].hasError('required')"
            >
              Required
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" formControlName="password" />
            <mat-error
              *ngIf="employeeForm.controls['password'].hasError('required')"
              >Password is required</mat-error
            >
            <mat-hint
              >Password needs 1 Capital, Special Character and Number and has to
              be 6 long</mat-hint
            >
          </mat-form-field>
        </div>
      </form>
      <div class="login-buttons">
        <button
          [disabled]="!employeeForm.valid"
          mat-raised-button
          color="primary"
          (click)="login()"
        >
          Login
        </button>
        <button
          [disabled]="!employeeForm.valid"
          mat-raised-button
          color="accent"
          (click)="register()"
        >
          Signup
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
